version: '3'

services:
  ia-case-documents-api:
    build:
      context: .
      args:
        - http_proxy
        - https_proxy
        - no_proxy
    networks:
      - compose_default
    image: hmcts/ia-case-documents-api
    container_name: ia-case-documents-api
    environment:
      JAVA_OPTS:
      # these environment variables are used by java-logging library
      JSON_CONSOLE_PRETTY_PRINT:
      ROOT_APPENDER:
      ROOT_LOGGING_LEVEL:
      REFORM_SERVICE_TYPE:
      REFORM_SERVICE_NAME:
      REFORM_TEAM:
      REFORM_ENVIRONMENT:
      LOGBACK_DATE_FORMAT:
      LOGBACK_REQUIRE_THREAD:
      LOGBACK_REQUIRE_ALERT_LEVEL: "false"
      LOGBACK_REQUIRE_ERROR_CODE: "false"
      # Application environment variables
      S2S_URL: http://service-auth-provider-api:8080
      IA_IDAM_REDIRECT_URI: http://idam-api
      IDAM_URL: http://idam-api:8080
      CCD_URL: http://ccd-data-store-api:4452
      DM_URL: http://dm-store:8080
      CASE_DOCUMENT_AM_URL: http://ccd-case-document-am-api:4455
      CCD_GW_URL: http://ccd-api-gateway-web:3453
      EM_BUNDLER_URL: http://rpa-em-ccd-orchestrator:8060
      DOCMOSIS_ENDPOINT:
      DOCMOSIS_ACCESS_KEY:
      IA_IDAM_CLIENT_ID:
      IA_IDAM_SECRET:
      IA_S2S_MICROSERVICE:
      IA_S2S_SECRET:
      IA_SYSTEM_USERNAME:
      IA_SYSTEM_PASSWORD:
      TEST_URL: http://ia-case-documents-api:8092
      IA_GOV_NOTIFY_KEY:
      IA_BAIL_GOV_NOTIFY_KEY:
      IA_RESPONDENT_EVIDENCE_DIRECTION_EMAIL:
      IA_RESPONDENT_NON_STANDARD_DIRECTION_UNTIL_LISTING_EMAIL:
      IA_RESPONDENT_REVIEW_DIRECTION_EMAIL:
    external_links:
      - idam-api
      - dm-store
      - service-auth-provider-api
      - rpa-em-ccd-orchestrator
      - ccd-api-gateway-web
      - stitching-api
      - ccd-data-store-api
    ports:
      - ${SERVER_PORT:-8092}:${SERVER_PORT:-8092}
networks:
  compose_default:
    external: true

  broker_app:
    image: dius/pact-broker
    links:
      - postgres
    ports:
      - "80:80"
    environment:
      PACT_BROKER_DATABASE_USERNAME: postgres
      PACT_BROKER_DATABASE_PASSWORD: ${GENERIC_DOCKER_PACT_BROKER_YAML_PASS}
      PACT_BROKER_DATABASE_HOST: postgres
      PACT_BROKER_DATABASE_NAME: postgres
      PACT_BROKER_WEBHOOK_SCHEME_WHITELIST: http
