server:
  port: ${PORT:8092}

management:
  endpoint:
    health:
      show-details: "always"
    status:
      http-mapping:
        UP: 200
        DOWN: 503
  endpoints:
    web:
      base-path: "/"
      exposure:
        include: "health"

spring:
  main:
    allow-bean-definition-overriding: true
  application:
    name: Immigration & Asylum case documents API
  jackson.date-format: yyyy-MM-dd


health:
  services:
    docmosis:
      uri: ${DOCMOSIS_ENDPOINT:https://docmosis-development.platform.hmcts.net}/rs/status
      response: '"message":"ready","ready":"true"'
    stichingApi:
      uri: ${EM_BUNDLER_URL:http://localhost:4630}/health
      response: '"status":"UP"'
    documentManagement:
      uri: ${DM_URL:http://localhost:4506}/health
      response: '"status":"UP"'
    serviceAuth:
      uri: ${S2S_URL:http://localhost:4502}/health
      response: '"status":"UP"'

appealSubmissionDocument.contentType: application/pdf
appealSubmissionDocument.fileExtension: PDF
appealSubmissionDocument.fileName: "appeal-form"
appealSubmissionDocument.templateName: ${IA_APPEAL_SUBMISSION_TEMPLATE:TB-IAC-APP-ENG-00262.docx}

hearingRequirementsDocument.contentType: application/pdf
hearingRequirementsDocument.fileExtension: PDF
hearingRequirementsDocument.fileName: "hearing-requirements"
hearingRequirementsDocument.templateName: ${IA_HEARING_REQUIREMENTS_TEMPLATE:TB-IAC-GNO-ENG-00261.docx}

hearingNoticeDocument.contentType: application/pdf
hearingNoticeDocument.fileExtension: PDF
hearingNoticeDocument.fileName: "hearing-notice"
hearingNoticeDocument.templateName: ${IA_HEARING_NOTICE_TEMPLATE:TB-IAC-HNO-ENG-00241.docx}

hearingNoticeAdjournedWithoutDateDocument.contentType: application/pdf
hearingNoticeAdjournedWithoutDateDocument.fileExtension: PDF
hearingNoticeAdjournedWithoutDateDocument.fileName: "hearing-notice"
hearingNoticeAdjournedWithoutDateDocument.templateName: ${IA_HEARING_NOTICE_ADJOURNED_WITHOUT_DATE_TEMPLATE:TB-IAC-HNO-ENG-00376.docx}

hearingNoticeEditedDocument.contentType: application/pdf
hearingNoticeEditedDocument.fileExtension: PDF
hearingNoticeEditedDocument.fileName: "hearing-notice"
hearingNoticeEditedDocument.templateName: ${IA_HEARING_NOTICE_EDITED_TEMPLATE:TB-IAC-HNO-ENG-00074B.docx}

hearingNoticeUpdatedRequirementsDocument.contentType: application/pdf
hearingNoticeUpdatedRequirementsDocument.fileExtension: PDF
hearingNoticeUpdatedRequirementsDocument.fileName: "hearing-notice"
hearingNoticeUpdatedRequirementsDocument.templateName: ${IA_HEARING_NOTICE_UPDATED_REQUIREMENTS_TEMPLATE:TB-IAC-HNO-ENG-00243.docx}

hearingNoticeUpdatedDetailsDocument.contentType: application/pdf
hearingNoticeUpdatedDetailsDocument.fileExtension: PDF
hearingNoticeUpdatedDetailsDocument.fileName: "hearing-notice"
hearingNoticeUpdatedDetailsDocument.templateName: ${IA_HEARING_NOTICE_UPDATED_DETAILS_TEMPLATE:TB-IAC-HNO-ENG-00242.docx}

decisionAndReasons.contentType:  application/vnd.openxmlformats-officedocument.wordprocessingml.document
decisionAndReasons.fileExtension: docx
decisionAndReasons.fileName: "decision-and-reasons-draft"
decisionAndReasons.templateName: ${IA_DECISION_AND_REASONS_TEMPLATE:TB-IAC-DEC-ENG-00223.docx}

decisionAndReasonsCoverLetter.contentType:  application/pdf
decisionAndReasonsCoverLetter.fileExtension: PDF
decisionAndReasonsCoverLetter.fileName: "Decision-and-reasons-Cover-letter"
decisionAndReasonsCoverLetter.templateName: ${IA_DECISION_AND_REASONS_COVER_LETTER_TEMPLATE:TB-IAC-LET-ENG-00239.docx}

decisionAndReasonsFinalPdf.fileName: "Decision-and-reasons-FINAL"

hearingBundle.fileExtension: PDF
hearingBundle.fileName: "hearing-bundle"

appealSkeletonBundle.fileExtension: PDF
appealSkeletonBundle.fileName: "appeal-skeleton-argument"

endAppeal.contentType:  application/pdf
endAppeal.fileExtension: PDF
endAppeal.fileName: "NoticeOfEndedAppeal"
endAppeal.templateName: ${IA_END_APPEAL_TEMPLATE:TB-IAC-GNO-ENG-00238.docx}

ccdGatewayUrl: ${CCD_GW_URL:http://localhost:3453}

docmosis.accessKey: ${DOCMOSIS_ACCESS_KEY}
docmosis.endpoint: ${DOCMOSIS_ENDPOINT}
docmosis.render.uri: /rs/render
docmosis.status.uri: /rs/status
docmosis.convert.uri: /rs/convert

emBundler.url: ${EM_BUNDLER_URL:http://localhost:4623}
emBundler.stitch.uri: ${EM_BUNDLER_STITCH_URI:/api/stitch-ccd-bundles}

featureFlag:
  isEmStitchingEnabled: ${IA_EM_STITCHING_ENABLED:true}
  isSaveAndContinueEnabled: ${IS_SAVE_AND_CONTINUE_ENABLED:false}

tsvStringsFileLocation: strings.tsv

ia_system_user: ${IA_SYSTEM_USERNAME:system-user}
ia_system_user_password: ${IA_SYSTEM_PASSWORD:system-password}

security:
  anonymousPaths:
    - "/"
    - "/health"
    - "/health/liveness"
    - "/loggers/**"
    - "/swagger-ui.html"
    - "/swagger-resources/**"
    - "/v2/api-docs"
    - "/webjars/springfox-swagger-ui/**"
    - "/favicon.ico"
  authorisedServices:
    - "ccd"
    - "ccd_data"
    - "ccd_gw"
    - "ccd_ps"
    - "iac"
  authorisedRoles:
    - "caseworker-ia"
    - "citizen"
  roleEventAccess:
    caseworker-ia-legalrep-solicitor:
      - "startAppeal"
      - "editAppeal"
      - "submitAppeal"
      - "buildCase"
      - "submitCase"
      - "uploadAdditionalEvidence"
      - "draftHearingRequirements"
    caseworker-ia-caseofficer:
      - "sendDirection"
      - "changeDirectionDueDate"
      - "requestCaseEdit"
      - "requestHearingRequirements"
      - "requestRespondentEvidence"
      - "uploadRespondentEvidence"
      - "requestRespondentReview"
      - "addAppealResponse"
      - "createCaseSummary"
      - "generateHearingBundle"
      - "generateDecisionAndReasons"
      - "sendDecisionAndReasons"
      - "editCaseListing"
      - "endAppeal"
      - "updateHearingRequirements"
      - "adjournHearingWithoutDate"
    caseworker-ia-admofficer:
      - "listCase"
      - "editCaseListing"
      - "sendDecisionAndReasons"
      - "adjournHearingWithoutDate"
    citizen:
      - "startAppeal"
      - "editAppeal"
      - "submitAppeal"
    caseworker-ia-iacjudge:
      - "generateDecisionAndReasons"
      - "endAppeal"
      - "sendDecisionAndReasons"


### dependency configuration
auth.idam.client.baseUrl: ${IDAM_URL:http://127.0.0.1:4501}
auth.idam.client.detailsUri: "/details"
auth.idam.client.id: ${IA_IDAM_CLIENT_ID:ia}
auth.idam.client.secret: ${IA_IDAM_SECRET:something}
auth.idam.client.redirectUri: ${IA_IDAM_REDIRECT_URI:http://localhost}
auth.provider.service.client.baseUrl: ${S2S_URL:http://127.0.0.1:4502}
core_case_data_api_url: ${CCD_URL:http://127.0.0.1:4452}
document_management.url: ${DM_URL:http://127.0.0.1:4506}
idam.s2s-auth.totp_secret: ${IA_S2S_SECRET:AAAAAAAAAAAAAAAC}
idam.s2s-auth.microservice: ${IA_S2S_MICROSERVICE:ia}
idam.s2s-auth.url: ${S2S_URL:http://127.0.0.1:4502}

launchDarkly:
  sdkKey: ${LAUNCH_DARKLY_SDK_KEY:sdk-key}
  connectionTimeout: 5
  socketTimeout: 5

customerServices:
  emailAddress: ${IA_CUSTOMER_SERVICES_EMAIL:contactia@example.com}
  telephoneNumber: ${IA_CUSTOMER_SERVICES_TELEPHONE:0300 777 7777}
