server:
  port: ${PORT:8092}

management:
  endpoint:
    health:
      show-details: "always"
    status:
      http-mapping:
        UP: 200
        DOWN: 503
  endpoints:
    web:
      base-path: "/"

  health:
    probes:
      enabled: true
    services:
      docmosis:
        uri: ${DOCMOSIS_ENDPOINT:https://docmosis-development.platform.hmcts.net}/rs/status
        response: '"message":"ready","ready":"true"'
      stichingApi:
        uri: ${EM_BUNDLER_URL:http://localhost:4630}/health
        response: '"status":"UP"'
      documentManagement:
        uri: ${DM_URL:http://localhost:4506}/health
        response: '"status":"UP"'
      serviceAuth:
        uri: ${S2S_URL:http://localhost:4502}/health
        response: '"status":"UP"'


spring:
  main:
    allow-bean-definition-overriding: true
  application:
    name: Immigration & Asylum case documents API
  jackson.date-format: yyyy-MM-dd
  security:
    oauth2:
      client:
        provider:
          oidc:
            issuer-uri: ${OPEN_ID_IDAM_URL:http://127.0.0.1:5000}/o
        registration:
          oidc:
            client-id: ${IA_IDAM_CLIENT_ID:ia}
            client-secret: ${IA_IDAM_SECRET:something}
      resourceserver:
        jwt:
          jwk-set-uri: ${OPEN_ID_IDAM_URL:http://127.0.0.1:5000}/o/jwks
  cache:
    cache-names: userInfoCache
    caffeine:
      spec: expireAfterAccess=3600s

appealSubmissionDocument.contentType: application/pdf
appealSubmissionDocument.fileExtension: PDF
appealSubmissionDocument.fileName: "appeal-form"
appealSubmissionDocument.templateName: ${IA_APPEAL_SUBMISSION_TEMPLATE:TB-IAC-APP-ENG-00676.docx}

hearingRequirementsDocument.contentType: application/pdf
hearingRequirementsDocument.fileExtension: PDF
hearingRequirementsDocument.fileName: "hearing-requirements"
hearingRequirementsDocument.templateName: ${IA_HEARING_REQUIREMENTS_TEMPLATE:TB-IAC-GNO-ENG-00675.docx}

hearingNoticeDocument.contentType: application/pdf
hearingNoticeDocument.fileExtension: PDF
hearingNoticeDocument.fileName: "hearing-notice"
hearingNoticeDocument.templateName: ${IA_HEARING_NOTICE_TEMPLATE:TB-IAC-HNO-ENG-00241.docx}

remoteHearingNoticeDocument.contentType: application/pdf
remoteHearingNoticeDocument.fileExtension: PDF
remoteHearingNoticeDocument.fileName: "hearing-notice"
remoteHearingNoticeDocument.templateName: ${IA_REMOTE_HEARING_NOTICE_TEMPLATE:TB-IAC-HNO-ENG-00680.docx}

hearingNoticeAdjournedWithoutDateDocument.contentType: application/pdf
hearingNoticeAdjournedWithoutDateDocument.fileExtension: PDF
hearingNoticeAdjournedWithoutDateDocument.fileName: "hearing-notice"
hearingNoticeAdjournedWithoutDateDocument.templateName: ${IA_HEARING_NOTICE_ADJOURNED_WITHOUT_DATE_TEMPLATE:TB-IAC-HNO-ENG-00376.docx}

hearingNoticeEditedDocument.contentType: application/pdf
hearingNoticeEditedDocument.fileExtension: PDF
hearingNoticeEditedDocument.fileName: "hearing-notice"
hearingNoticeEditedDocument.templateName: ${IA_HEARING_NOTICE_EDITED_TEMPLATE:TB-IAC-HNO-ENG-00074B.docx}

hearingNoticeUpdatedRequirementsDocument.contentType: application/pdf
hearingNoticeUpdatedRequirementsDocument.fileExtension: PDF
hearingNoticeUpdatedRequirementsDocument.fileName: "hearing-notice"
hearingNoticeUpdatedRequirementsDocument.templateName: ${IA_HEARING_NOTICE_UPDATED_REQUIREMENTS_TEMPLATE:TB-IAC-HNO-ENG-00243.docx}

hearingNoticeUpdatedDetailsDocument.contentType: application/pdf
hearingNoticeUpdatedDetailsDocument.fileExtension: PDF
hearingNoticeUpdatedDetailsDocument.fileName: "hearing-notice"
hearingNoticeUpdatedDetailsDocument.templateName: ${IA_HEARING_NOTICE_UPDATED_DETAILS_TEMPLATE:TB-IAC-HNO-ENG-00641.docx}

remoteHearingNoticeUpdatedDetailsDocument.contentType: application/pdf
remoteHearingNoticeUpdatedDetailsDocument.fileExtension: PDF
remoteHearingNoticeUpdatedDetailsDocument.fileName: "hearing-notice"
remoteHearingNoticeUpdatedDetailsDocument.templateName: ${IA_REMOTE_HEARING_NOTICE_UPDATED_DETAILS_TEMPLATE:TB-IAC-HNO-ENG-00680.docx}

decisionAndReasons.contentType:  application/vnd.openxmlformats-officedocument.wordprocessingml.document
decisionAndReasons.fileExtension: docx
decisionAndReasons.fileName: "decision-and-reasons-draft"
decisionAndReasons.templateName: ${IA_DECISION_AND_REASONS_TEMPLATE:TB-IAC-DEC-ENG-00738.docx}

decisionAndReasonsCoverLetter.contentType:  application/pdf
decisionAndReasonsCoverLetter.fileExtension: PDF
decisionAndReasonsCoverLetter.fileName: "Decision-and-reasons-Cover-letter"
decisionAndReasonsCoverLetter.templateName: ${IA_DECISION_AND_REASONS_COVER_LETTER_TEMPLATE:TB-IAC-LET-ENG-00756.docx}

aipDecisionAndReasonsCoverLetter.contentType:  application/pdf
aipDecisionAndReasonsCoverLetter.fileExtension: PDF
aipDecisionAndReasonsCoverLetter.fileName: "Decision-and-reasons-Cover-letter"
aipDecisionAndReasonsCoverLetter.templateName: ${IA_AIP_DECISION_AND_REASONS_COVER_LETTER_TEMPLATE:TB-IAC-LET-ENG-00807.docx}

decisionAndReasonsFinalPdf.fileName: "Decision-and-reasons-FINAL"

hearingBundle.fileExtension: PDF
hearingBundle.fileName: "hearing-bundle"

appealSkeletonBundle.fileExtension: PDF
appealSkeletonBundle.fileName: "appeal-skeleton-argument"

endAppeal.contentType:  application/pdf
endAppeal.fileExtension: PDF
endAppeal.fileName: "NoticeOfEndedAppeal"
endAppeal.templateName: ${IA_END_APPEAL_TEMPLATE:TB-IAC-GNO-ENG-00238.docx}
endAppeal.appellant.templateName: ${IA_END_APPEAL_APPELLANT_TEMPLATE:TB-IAC-GNO-ENG-00721.docx}

endAppealAutomatically.contentType: application/pdf
endAppealAutomatically.fileExtension: PDF
endAppealAutomatically.fileName: "NoticeOfEndedAppeal"
endAppealAutomatically.templateName: ${IA_END_APPEAL_AUTOMATICALLY_TEMPLATE:TB-IAC-GNO-ENG-00239.docx}

cmaRequirements.contentType:  application/pdf
cmaRequirements.fileExtension: PDF
cmaRequirements.fileName: "Case-management-appointment-requirements"
cmaRequirements.templateName: ${IA_CMA_REQUIREMENTS_TEMPLATE:TB-IAC-HRN-ENG-00506.docx}

cmaAppointmentNotice.contentType:  application/pdf
cmaAppointmentNotice.fileExtension: PDF
cmaAppointmentNotice.fileName: "Case-management-appointment-notice"
cmaAppointmentNotice.templateName: ${IA_CMA_REQUIREMENTS_TEMPLATE:TB-IAC-HNO-ENG-00504.docx}

appealReasons.contentType:  application/pdf
appealReasons.fileExtension: PDF
appealReasons.fileName: "Appeal-reasons"
appealReasons.templateName: ${IA_APPEAL_REASONS_TEMPLATE:TB-IAC-GNO-ENG-00802.docx}

clarifyingQuestionsAnswers.contentType:  application/pdf
clarifyingQuestionsAnswers.fileExtension: PDF
clarifyingQuestionsAnswers.fileName: "Tribunal-questions-and-answers"
clarifyingQuestionsAnswers.templateName: ${IA_CLARIFYING_QUESTIONS_TEMPLATE:TB-IAC-GNO-ENG-00803.docx }

bailSubmissionDocument.contentType: application/pdf
bailSubmissionDocument.fileExtension: PDF
bailSubmissionDocument.fileName: "bail-application-details"
bailSubmissionDocument.templateName: ${IA_BAIL_SUBMISSION_TEMPLATE:TB-IAC-SUM-ENG-01134.docx}

bailSubmissionDocumentWithoutUt.contentType: application/pdf
bailSubmissionDocumentWithoutUt.fileExtension: PDF
bailSubmissionDocumentWithoutUt.fileName: "bail-application-details-without-ut"
bailSubmissionDocumentWithoutUt.templateName: ${IA_BAIL_SUBMISSION_TEMPLATE_WITHOUT_UT:TB-IAC-SUM-ENG-01135.docx}

decisionUnsignedDocument.contentType: application/vnd.openxmlformats-officedocument.wordprocessingml.document
decisionUnsignedDocument.fileExtension: docx
decisionUnsignedDocument.fileName: "decision-notice-UNSIGNED"
decisionUnsignedDocument.grant.templateName: ${IA_BAIL_DECISION_GRANT_TEMPLATE:TB-IAC-DEC-ENG-01138.docx}
decisionUnsignedDocument.judgeMinded.templateName: ${IA_BAIL_DECISION_JUDGE_MINDED_TEMPLATE:TB-IAC-DEC-ENG-01136.docx}
decisionUnsignedDocument.refusal.templateName: ${IA_BAIL_DECISION_REFUSAL_TEMPLATE:TB-IAC-DEC-ENG-01137.docx}

decisionSignedDocumentFinalPdf.fileName: "decision-notice"


bailEndApplication.contentType:  application/pdf
bailEndApplication.fileExtension: PDF
bailEndApplication.fileName: "ended-application-notice"
bailEndApplication.templateName: ${IA_BAIL_END_APPLICATION_TEMPLATE:TB-IAC-APP-ENG-01138.docx}

ccdGatewayUrl: ${CCD_GW_URL:http://localhost:3453}

docmosis.accessKey: ${DOCMOSIS_ACCESS_KEY}
docmosis.endpoint: ${DOCMOSIS_ENDPOINT}
docmosis.render.uri: ${DOCMOSIS_RENDER_URL:/rs/render}
docmosis.status.uri: ${DOCMOSIS_STATUS_URL:/rs/status}
docmosis.convert.uri: ${DOCMOSIS_CONVERT_URL:/rs/convert}


emBundler.url: ${EM_BUNDLER_URL:http://localhost:4623}
emBundler.stitch.uri: ${EM_BUNDLER_STITCH_URI:/api/stitch-ccd-bundles}
emBundler.stitch.async.uri: ${EM_BUNDLER_STITCH_ASYNC_URI:/api/new-bundle}

featureFlag:
  isEmStitchingEnabled: ${IA_EM_STITCHING_ENABLED:true}

tsvStringsFileLocation: strings.tsv

ia_system_user: ${IA_SYSTEM_USERNAME:system-user}
ia_system_user_password: ${IA_SYSTEM_PASSWORD:system-password}

security:
  anonymousPaths:
    - "/"
    - "/health"
    - "/health/liveness"
    - "/health/readiness"
    - "/loggers/**"
    - "/swagger-ui.html"
    - "/swagger-ui/**"
    - "/v3/api-docs/**"
    - "/favicon.ico"
  authorisedRoles:
    - "caseworker-ia"
    - "citizen"
  roleEventAccess:
    caseworker-ia-legalrep-solicitor:
      - "startAppeal"
      - "editAppeal"
      - "submitAppeal"
      - "buildCase"
      - "submitCase"
      - "uploadAdditionalEvidence"
      - "draftHearingRequirements"
      - "payAndSubmitAppeal"
      - "submitApplication"
      - "makeNewApplication"
    caseworker-ia-caseofficer:
      - "sendDirection"
      - "changeDirectionDueDate"
      - "requestCaseEdit"
      - "requestHearingRequirements"
      - "requestRespondentEvidence"
      - "uploadRespondentEvidence"
      - "requestRespondentReview"
      - "addAppealResponse"
      - "createCaseSummary"
      - "generateHearingBundle"
      - "generateDecisionAndReasons"
      - "sendDecisionAndReasons"
      - "editCaseListing"
      - "endAppeal"
      - "updateHearingRequirements"
      - "adjournHearingWithoutDate"
      - "editAppealAfterSubmit"
      - "generateHearingBundle"
      - "customiseHearingBundle"
    caseworker-ia-admofficer:
      - "listCase"
      - "editCaseListing"
      - "sendDecisionAndReasons"
      - "adjournHearingWithoutDate"
      - "listCma"
      - "endAppeal"
      - "generateUpperTribunalBundle"
      - "submitApplication"
      - "recordTheDecision"
      - "endApplication"
      - "makeNewApplication"
      - "editBailApplicationAfterSubmit"
      - "uploadSignedDecisionNotice"
    citizen:
      - "startAppeal"
      - "editAppeal"
      - "uploadAdditionalEvidence"
      - "submitAppeal"
      - "submitCmaRequirements"
      - "submitReasonsForAppeal"
      - "submitClarifyingQuestionAnswers"
      - "draftHearingRequirements"
    caseworker-ia-iacjudge:
      - "generateDecisionAndReasons"
      - "endAppeal"
      - "sendDecisionAndReasons"
      - "updateHearingRequirements"
      - "editAppealAfterSubmit"
      - "generateUpperTribunalBundle"
      - "recordTheDecision"
      - "endApplication"    
      - "uploadSignedDecisionNotice"
    caseworker-ia-homeofficebail:
      - "submitApplication"
      - "makeNewApplication"
    caseworker-ia-system:
      - "endAppealAutomatically"

### dependency configuration
core_case_data_api_url: ${CCD_URL:http://127.0.0.1:4452}
document_management.url: ${DM_URL:http://127.0.0.1:4506}
case_document_am.url: ${CASE_DOCUMENT_AM_URL:http://127.0.0.1:4455}

idam:
  baseUrl: ${OPEN_ID_IDAM_URL:http://127.0.0.1:5000}
  s2s-auth:
    totp_secret: ${IA_S2S_SECRET:AAAAAAAAAAAAAAAC}
    microservice: ${IA_S2S_MICROSERVICE:ia}
    url: ${S2S_URL:http://127.0.0.1:4502}
  s2s-authorised:
    services: ccd,ccd_data,ccd_gw,ccd_ps,iac

launchDarkly:
  sdkKey: ${LAUNCH_DARKLY_SDK_KEY:sdk-key}
  connectionTimeout: 5000
  socketTimeout: 5000

customerServices:
  emailAddress: ${IA_CUSTOMER_SERVICES_EMAIL:contactia@example.com}
  telephoneNumber: ${IA_CUSTOMER_SERVICES_TELEPHONE:0300 777 7777}

govCallChargesUrl: ${IA_BAIL_GOV_CALL_CHARGES_URL:Find out about call charges|https://www.gov.uk/call-charges}

iaAipFrontendUrl: ${IA_AIP_FRONTEND_URL:https://localhost:3000/}

### Email addresses
hearingCentreEmailAddresses:
  bradford: ${IA_HEARING_CENTRE_BRADFORD_EMAIL:hc-bradford@example.com}
  manchester: ${IA_HEARING_CENTRE_MANCHESTER_EMAIL:hc-manchester@example.com}
  newport: ${IA_HEARING_CENTRE_NEWPORT_EMAIL:hc-newport@example.com}
  taylorHouse: ${IA_HEARING_CENTRE_TAYLOR_HOUSE_EMAIL:hc-taylorhouse@example.com}
  northShields: ${IA_HEARING_CENTRE_NORTH_SHIELDS_EMAIL:hc-north-shields@example.com}
  newcastle: ${IA_HEARING_CENTRE_NORTH_SHIELDS_EMAIL:hc-north-shields@example.com}
  birmingham: ${IA_HEARING_CENTRE_BIRMINGHAM_EMAIL:hc-birmingham@example.com}
  hattonCross: ${IA_HEARING_CENTRE_HATTON_CROSS_EMAIL:hc-hatton-cross@example.com}
  glasgow: ${IA_HEARING_CENTRE_GLASGOW_EMAIL:hc-glasgow@example.com}
  belfast: ${IA_HEARING_CENTRE_GLASGOW_EMAIL:hc-glasgow@example.com}

ia:
  config:
    validator:
      secret: ${IA_CONFIG_VALIDATOR_SECRET:}